
body {
	font-family: MuseoSansCyrl;
}

* {
	outline: none !important;
}
  /********/
 /*header*/
/********/

.main-header {
	color:#fff;
}

.navbar {
	background-color: #232323;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-brand {
	padding: 10px 15px;
	margin-right: 2em;
}

.navbar-brand img {
	width: 100%;
}

.nav-item {
	margin: 0 15px;
	box-sizing: border-box;
}

.nav li a {
	padding: 15px 0;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	position: relative;
}

.nav li a:hover, .nav li a:focus {
	padding-bottom: 11px;
	background-color: inherit;
	border-bottom: 4px solid #43a4f4;
	font-weight: 700;
}

.custom-item {
	padding: 10px 0;
}

ul .custom-item a {
	background-color: #44a2f3;
	padding: 5px 20px;
	border-radius: 24px;
	text-transform: none;
}

ul .custom-item a:hover, ul .custom-item a:focus {
	padding-bottom: 1px;
	font-weight: 500;
	background-color: #44a2f3;
}

.navbar-right li {
	margin: 1px;
	background-color: #313131;
}

.navbar-right li a {
	padding: 14px 18px;
}

.navbar-right li a:hover {
	padding-bottom: 14px;
	border-bottom: none;
}

.icon-bar {
	background-color: #fff;
}

  /*********/
 /*content*/
/*********/

.content {
	background-color: #eaeaea;
	padding-bottom: 50px;
}

.page-nav {
	padding-top: 15px;
	padding-bottom: 25px;
}

.page-item {
	display: inline-block;
}

.page-item a {
	color: #a0a0a0;
	text-decoration: none;
}

.page-item:last-child a {
	color: #000;
}

.page-item:last-child i {
	display: none;
}

.page-arrow {
	margin: 0 4px;
}


.profile {
	background-color: #fff;
	margin-bottom: 20px;
}

.profile-image {
	display: inline-block;
	float: left;
	width: 160px;
	height: 160px;
	overflow: hidden;
}

.profile-image img {
	width: 100%;
	object-fit: cover;
}

.profile-descripton {
	display: inline-block;
	float: left;
	width: 70%;
	padding: 15px;
}

.status {
	margin: 0;
}

.grey-text {
	color: #a0a0a0;
}

.sm-text {
	font-weight: 300;
	font-size: 0.95em;
}

.md-text {
	font-weight: 300;
	font-size: 1em;
}

.lg-text {
	font-size: 1.2em;
	font-weight: 700;
	margin: 5px 0;
}

  /************/
 /*pagination*/
/************/

.pages {
	text-align: center;
}

.pagination li a {
	border-radius: 50%;
	background-color: transparent;
	color: #cacaca;
	margin: 0 2px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
	border-color: #43a4f4;
	color: #43a4f4;;
}

.pagination>li:first-child>a,
.pagination>li:last-child>a {
	padding: 7px 14px;
	border-radius: 50%;
	background-color: #cacaca;
	color: #fff;
	border: none;
}

.pagination>li:first-child>a:hover,
.pagination>li:last-child>a:hover {
	background-color: #43a4f4;
}

  /**************/
 /*left sidebar*/
/**************/

.filters {
	background-color: #fff;
}

.grey-wrapper {
	padding: 15px;
	background-color: #f5f5f5;
}

.white-wrapper {
	padding: 15px;
	padding-top: 0;
}

.dropdown {
	display: inline-block;
	width:90%;
	margin: 6px 0;
}

.dropdown button {
	width: 100%;
	text-align: left;
}

.custom-dropdown {
	color: #000;
	background-color: #fff;
	border-radius: 24px;
	box-shadow: none;
	border: 1px solid #cccccc;
	padding: 8px 15px;
}

.dropdown-menu {
	width: 100%;
}

.dropdown-menu li a{
	display: block;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis;
}

.drop-arrow {
	color: #a0a0a0;
	float: right;
}

.delete-sel {
	float: right;
	padding-top: 10px;
}

.add-more {
	color: #43a4f4;
	margin: 5px 0;
}
  /************/
 /*iOS labels*/
/************/

input[type="checkbox"].ios8-switch {
    display: none;  
}
input[type="checkbox"].ios8-switch + label {
    position: relative;
    line-height: 0.6em;
}
input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 36px; /* x*5 */
    height: 18px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #e5e5e5;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    right: 18px;
    top: 0px;
    width: 18px; /* x*3 */
    height: 18px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
    right: 0;
}
input[type="checkbox"].ios8-switch:checked + label:before {
    background: #55D069;
}

.ios-checkbox {
	margin: 7px 0;
}

.ios-checkbox label {
	width: 100%;
}

.personal {
	padding: 0 15px;
	margin-top: 15px;
	background: #fff;
}

.worker {
	padding: 15px 0;
	border-bottom: 1px solid #e3e3e3;
}

.worker:last-child {
	border: none;
}

.wr-photo {
	display: inline-block;
	float: left;
	width: 30%;
}

.wr-photo img {
	width: 100%;
	object-fit: cover;
}

.wr-description {
	width: 65%;
	float: left;
	padding-left: 15px;
}

.wr-name {
	font-weight: 300;
	margin: 0;
	line-height: 1.2em;
}

.wr-status {
	margin-top: 10%;
}
  /******************/
 /*section sponsors*/
/******************/

.sponsors {
	background-color: #fff;
	margin: 50px 0;
}

.sponsor-item img {
	width: 100%;
}

  /********/
 /*footer*/
/********/

.footer .navbar {
	background-color: #f6f6f6;
}

.navbar-footer .navbar-brand {
	color: #000;
	font-size: 0.9em;
	font-weight: 300;
	padding: 15px;
}

.footer-right li {
	background-color: transparent;
}

.footer-right li a {
	color: #000;
	text-transform: none;
	text-decoration: underline;
	font-weight: 300;
}

