
body {
	font-family: MuseoSansCyrl;
	background-color: #f2f2f2;
}

* {
	outline: none !important;
}
  /********/
 /*header*/
/********/

.main-header {
	color:#fff;
}

.navbar {
	background-color: #232323;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-brand {
	padding: 10px 15px;
	margin-right: 2em;
}

.navbar-brand img {
	width: 100%;
}

.nav-item {
	margin: 0 15px;
	box-sizing: border-box;
}

.nav li a {
	padding: 15px 0;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.35px;
}

.nav li a:hover, .nav li a:focus {
	padding-bottom: 11px;
	background-color: inherit;
	border-bottom: 4px solid #43a4f4;
	font-weight: 900;
	letter-spacing: 0px;
}

.custom-item {
	padding: 10px 0;
}

ul .custom-item a {
	background-color: #44a2f3;
	padding: 5px 20px;
	border-radius: 24px;
	text-transform: none;
	letter-spacing: 0;
}

ul .custom-item a:hover, ul .custom-item a:focus {
	padding-bottom: 1px;
	font-weight: 500;
	background-color: #44a2f3;
}

.navbar-right li {
	margin: 1px;
	background-color: #313131;
}

.navbar-right li a {
	padding: 14px 18px;
	letter-spacing: 0;
}

.navbar-right li a:hover {
	padding-bottom: 14px;
	border-bottom: none;
}

.icon-bar {
	background-color: #fff;
}

  /*********/
 /*content*/
/*********/

.content {
	padding-bottom: 50px;
}

.page-nav {
	padding-top: 15px;
	padding-bottom: 25px;
}

.page-item {
	display: inline-block;
}

.page-item a {
	color: #a0a0a0;
	text-decoration: none;
}

.page-item:last-child a {
	color: #000;
}

.page-item:last-child i {
	display: none;
}

.page-arrow {
	margin: 0 4px;
}


.profile {
	background-color: #fff;
	margin-bottom: 20px;
}

.profile-image {
	display: inline-block;
	float: left;
	width: 160px;
	height: 160px;
	overflow: hidden;
}

.profile-image img {
	width: 100%;
	object-fit: cover;
}

.profile-descripton {
	display: inline-block;
	float: left;
	width: 70%;
	padding: 15px;
}

.status {
	margin: 0;
}

.grey-text {
	color: #a0a0a0;
}

.sm-text {
	font-weight: 300;
	font-size: 0.95em;
}

.md-text {
	font-weight: 300;
	font-size: 1em;
}

.lg-text {
	font-size: 1.2em;
	font-weight: 700;
	margin: 5px 0;
}

.more-btn:hover {
	color: #44a2f3;
}

  /************/
 /*pagination*/
/************/

.pages {
	text-align: center;
}

.pagination li a {
	border-radius: 50%;
	background-color: transparent;
	color: #cacaca;
	margin: 0 2px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
	border-color: #43a4f4;
	color: #43a4f4;;
}

.pagination>li:first-child>a,
.pagination>li:last-child>a {
	padding: 7px 14px;
	border-radius: 50%;
	background-color: #cacaca;
	color: #fff;
	border: none;
}

.pagination>li:first-child>a:hover,
.pagination>li:last-child>a:hover {
	background-color: #43a4f4;
}

  /**************/
 /*left sidebar*/
/**************/

.filters {
	background-color: #fff;
}

.grey-wrapper {
	padding: 15px;
	background-color: #f5f5f5;
}

.white-wrapper {
	padding: 15px;
	padding-top: 0;
}

.delete-sel {
	float: right;
	padding-top: 10px;
}

.add-more {
	color: #43a4f4;
	margin: 5px 0;
}

.select2.select2-container.select2-container--default {
	margin: 8px 0px;
	width: 90% !important;;
	float: left ;
}

.select2-container--default .select2-selection--single {
	border-radius: 20px !important;
	height: 34px !important;
	padding: 0 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 34px !important;
}

.select2-dropdown.select2-dropdown--below{
	border: 1px solid #aaa;
	border-top: 1px solid #aaa !important;
	margin-top: 2px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
}

.select2-selection__arrow {
	height: 34px !important;
	right: 5px !important;
}

  /************/
 /*iOS labels*/
/************/

input[type="checkbox"].ios8-switch {
    display: none;  
}
input[type="checkbox"].ios8-switch + label {
    position: relative;
    line-height: 0.6em;
}
input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 36px; /* x*5 */
    height: 18px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #e5e5e5;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    right: 18px;
    top: 0px;
    width: 18px; /* x*3 */
    height: 18px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
    right: 0;
}
input[type="checkbox"].ios8-switch:checked + label:before {
    background: #55D069;
}

.ios-checkbox {
	margin: 7px 0;
}

.ios-checkbox label {
	width: 100%;
}

.personal {
	padding: 0 15px;
	margin-top: 15px;
	background: #fff;
}

.worker {
	padding: 15px 0;
	border-bottom: 1px solid #e3e3e3;
}

.worker:last-child {
	border: none;
}

.wr-photo {
	display: inline-block;
	float: left;
	width: 30%;
}

.wr-photo img {
	width: 100%;
	object-fit: cover;
}

.wr-description {
	width: 65%;
	float: left;
	padding-left: 15px;
}

.wr-name {
	font-weight: 300;
	margin: 0;
	line-height: 1.2em;
}

.wr-status {
	margin-top: 10%;
}
  /******************/
 /*section sponsors*/
/******************/

.sponsors {
	background-color: #fff;
	padding: 50px 0;
}

.sponsor-item img {
	width: 100%;
}

  /********/
 /*footer*/
/********/

.footer .navbar {
	background-color: #f6f6f6;
}

.navbar-footer .navbar-brand {
	color: #000;
	font-size: 0.9em;
	font-weight: 300;
	padding: 15px;
}

.footer-right li {
	background-color: transparent;
}

.footer-right li a {
	color: #000;
	text-transform: none;
	text-decoration: underline;
	font-weight: 300;
}

  /*************/
 /*EXPERT PAGE*/
/*************/

.lg-bold-text {
	font-size: 1.7em;
	font-weight: 600;
}

.exp-info {
	float: left;
}

.exp-name {
	margin-top: 0;
}

.exp-contacts {
	line-height: 1.5em;
}

.cnt-icon {
	display: inline-block;
	min-width: 20px;
	color: #43a4f4;
	text-align: center;
}

.exp-img {
	width: 30%;
	float: right;
	position: relative;
}

.exp-photo {
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.exp-img:hover .exp-photo{
	opacity: 0.4;
	transition: ease 0.5s;
}

.exp-img:hover .exp-zoom{
	opacity: 1;
	transform: translate(-50%,-50%) scale(1.2);
	transition: ease 0.2s;
}

.exp-zoom {
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	color: #43a4f4;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.exp-text {
	float: left;
	margin-top: 1em;
}

.exp-more-btn {
	float: left;
	border: none;
	background-color: transparent;
	padding: 0;
	margin-top: 1em;
}

/*media-files*/

.media-files {
	margin-top: 30px;
}

.media-title {
	margin-top: 0;
	margin-bottom: 20px;
}

.media-tabs {
	width: 100%;
}

.tab {
	width: 25%;
	min-height: 2.5em;
	line-height: 2.5em;
	float: left;
	box-sizing: border-box;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	background-color: #e9e9e9;
	text-align: center;
	color: #000;
}

.tab:first-child {
	border-left: none;
}

.tab:last-child {
	border-right: none;
}

.tab i {
	color: #43a4f4;
	display: inline-block;
	padding-right: 2px;
}

.tab:hover {
	text-decoration: none;
}

.tab:active,
.tab:focus,
.tab:active > i,
.tab:focus > i {
	background-color: #43a4f4;
	color: #fff;
	text-decoration: none;
	border-color: #43a4f4;
}

.media-files {
	position: relative;
}

.media-content {
	background-color: #fff;
	padding: 10px;
}

.media-item {
	width: 25%;
	display: inline-block;
	position: relative;
	float: left;
	padding: 10px;
}

.media-block {
	position: relative;
}

.media-img {
	width: 100%;
}

.media-blur {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(transparent, #4498e7);
}

.play-btn {
	position: absolute;
	width: 20%;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	z-index: 10;
}

.play-icon {
	width: 100%;
}

.save-btn a {
	position: absolute;
	color: #fff;
	right: 10%;
	bottom: 7%;
	z-index: 10;
}

.slick-prev,
.slick-next {
	position: absolute;
	top: 58%;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	color: #d7d7d7;
}

.prev-ctrl {
	left: 0.5%;
}

.prev-ctrl i {
	transform: translateX(-25%);
}

.next-ctrl {
	right: 0.5%
}

.next-ctrl i {
	transform: translateX(25%);
}


  /******************/
 /*all_stories page*/
/******************/

.form-group {
	width: 80%;
	float: left;
	padding-left: 5px;
}

.date-pic {
	min-width: 10%;
	float: left;
	line-height: 37px;
}

.input-group-addon {
	color: #44a2f3;
	background-color: #fff;
	border-left: none;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.form-control {
	border-right: none;
	box-shadow: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.form-control:focus {
	box-shadow: none;
}

.form-control:focus ~ .input-group-addon {
	border: 1px solid #66afe9;
	border-left: none;
	-webkit-transition: border .15s ease-in-out;	
}

.story {
	background-color: #fff;
	margin-bottom: 14px;
	position: relative;
}

.story-img {
	float: left;
	width: 30%;
	max-height: 170px;
	overflow: hidden;
	display: flex;
}

.story-img img{
	width: 100%;
	object-fit: cover;
}

.story-descr {
	float: left;
	width: 70%;
	max-height: 170px;
	padding: 15px;
}

.story-date-icon {
	color: #44a2f3;
}

.story-name {
	margin-bottom: 10px;
}

.small-tabs {
	position: absolute;
	bottom: 10px;
}

.sm-tab {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 1px 0.5px 8px 0.5px rgba(0,0,0,0.2);
	color: #44a2f3;
	margin: 0 2.5px;
}

.sm-tab:hover {
	background-color: #44a2f3;
	color: #fff;
	transition: background-color ease-in-out .15s;
}

.sm-tab:focus {
	color: #000;
}

  /***************/
 /*media queries*/
/***************/

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {
	.lg-text {
		font-size: 1.4rem;
	}

	.sm-text {
		font-size: 1rem;
	}

  /******************/
 /*all_stories page*/
/******************/
	

	.story-img {
		height: 145px;
	}

	.story-descr {
		max-height: 146px;
		padding: 8px;
		padding-left: 10px;
	}

	.story-name {
		margin-bottom: 3px;
	}

	.small-tabs {
		font-size: 0.75em;
		
	}

	.sm-tab {
		width: 26px;
		height: 26px;
		line-height: 26px;
	}
}

@media only screen and (max-width : 768px) {
	
	.filters {
		margin-bottom: 20px;
		padding-bottom: 20px;
	}

	.add-more {
		display: table;
		width: 100%;
	}

	.select2.select2-container.select2-container--default {
		width: 95% !important;
	}

  /******************/
 /*all_stories page*/
/******************/
	.story-descr {
		padding: 8px;
		padding-left: 10px;
	}

	.select2.select2-container.select2-container--default {
		width: 90% !important;
	}

	.small-tabs {
		margin-top: 5px;
	}

}

@media only screen and (max-width : 480px) {
	.lg-text {
		font-size: 0.9em;
	}

	.sm-text {
		font-size: 0.8rem;
	}
}
