
body {
	font-family: MuseoSansCyrl, Arial,sans-serif;
	background-color: #f2f2f2;
}

* {
	outline: none !important;
}
  /********/
 /*header*/
/********/

.main-header {
	color:#fff;
}

.navbar {
	background-color: #232323;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-brand {
	padding: 10px 15px;
	margin-right: 2em;
}

.navbar-brand img {
	width: 100%;
}

.nav-item {
	margin: 0 15px;
	box-sizing: border-box;
}

.nav li a {
	padding: 15px 0;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.35px;
}

.nav li a:hover, .nav li a:focus {
	padding-bottom: 11px;
	background-color: inherit;
	border-bottom: 4px solid #43a4f4;
	font-weight: 900;
	letter-spacing: 0;
}

.custom-item {
	padding: 10px 0;
}

ul .custom-item a {
	background-color: #44a2f3;
	padding: 5px 20px;
	border-radius: 24px;
	text-transform: none;
	letter-spacing: 0;
}

ul .custom-item a:hover, ul .custom-item a:focus {
	padding-bottom: 1px;
	font-weight: 500;
	background-color: #44a2f3;
}

.navbar-right li {
	margin: 1px;
	background-color: #313131;
}

.navbar-right li a {
	padding: 14px 18px;
	letter-spacing: 0;
}

.navbar-right li a:hover {
	padding-bottom: 14px;
	border-bottom: none;
}

.icon-bar {
	background-color: #fff;
}

  /*********/
 /*content*/
/*********/

.content {
	padding-bottom: 50px;
}

.page-nav {
	padding-top: 15px;
	padding-bottom: 25px;
}

.page-item {
	display: inline-block;
}

.page-item a {
	color: #a0a0a0;
	text-decoration: none;
}

.page-item:last-child a {
	color: #000;
}

.page-item:last-child i {
	display: none;
}

.page-arrow {
	margin: 0 4px;
}


.profile {
	background-color: #fff;
	margin-bottom: 20px;
}

.profile-image {
	display: inline-block;
	float: left;
	width: 160px;
	height: 160px;
	overflow: hidden;
}

.profile-image img {
	width: 100%;
	object-fit: cover;
}

.profile-description {
	display: inline-block;
	float: left;
	width: 70%;
	padding: 15px;
}

.status {
	margin: 0;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 30ch;
}

.grey-text {
	color: #a0a0a0;
}

.sm-text {
	font-weight: 300;
	font-size: 0.95em;
}

.md-text {
	font-weight: 300;
	font-size: 1em;
}

.lg-text {
	font-size: 1.2em;
	font-weight: 700;
	margin: 5px 0;
}

.more-btn:hover {
	color: #44a2f3;
}

  /************/
 /*pagination*/
/************/

.pages {
	text-align: center;
}

.pagination li a {
	border-radius: 50%;
	background-color: transparent;
	color: #cacaca;
	margin: 0 2px;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
	border-color: #43a4f4;
	color: #43a4f4;;
}

.pagination>li:first-child>a,
.pagination>li:last-child>a {
	padding: 7px 14px;
	border-radius: 50%;
	background-color: #cacaca;
	color: #fff;
	border: none;
}

.pagination>li:first-child>a:hover,
.pagination>li:last-child>a:hover {
	background-color: #43a4f4;
}

  /**************/
 /*left sidebar*/
/**************/

.filters {
	background-color: #fff;
}

.grey-wrapper {
	padding: 15px;
	background-color: #f5f5f5;
}

.white-wrapper {
	padding: 15px;
	padding-top: 0;
}

.delete-sel {
	float: right;
	padding-top: 10px;
}

.add-more {
	color: #43a4f4;
	margin: 5px 0;
}

.select2.select2-container.select2-container--default {
	margin: 8px 0;
	width: 90% !important;;
	float: left ;
}

.select2-container--default .select2-selection--single {
	border-radius: 20px !important;
	height: 34px !important;
	padding: 0 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 34px !important;
}

.select2-dropdown.select2-dropdown--below{
	border: 1px solid #aaa;
	border-top: 1px solid #aaa !important;
	margin-top: 2px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
}

.select2-selection__arrow {
	height: 34px !important;
	right: 5px !important;
}

  /************/
 /*iOS labels*/
/************/

input[type="checkbox"].ios8-switch {
    display: none;  
}
input[type="checkbox"].ios8-switch + label {
    position: relative;
    line-height: 0.6em;
}
input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 36px; /* x*5 */
    height: 18px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #e5e5e5;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    right: 18px;
    top: 0;
    width: 18px; /* x*3 */
    height: 18px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
    right: 0;
}
input[type="checkbox"].ios8-switch:checked + label:before {
    background: #44a2f3;
}

.ios-checkbox {
	margin: 7px 0;
}

.ios-checkbox label {
	width: 100%;
}

.personal {
	padding: 0 15px;
	margin-top: 15px;
	background: #fff;
}

.worker {
	padding: 15px 0;
	border-bottom: 1px solid #e3e3e3;
}

.worker:last-child {
	border: none;
}

.wr-photo {
	display: inline-block;
	float: left;
	width: 30%;
}

.wr-photo img {
	width: 100%;
	object-fit: cover;
}

.wr-description {
	width: 65%;
	float: left;
	padding-left: 15px;
}

.wr-name {
	font-weight: 300;
	margin: 0;
	line-height: 1.2em;
}

.wr-status {
	margin-top: 10%;
}
  /******************/
 /*section sponsors*/
/******************/

.sponsors {
	background-color: #fff;
	padding: 50px 0;
}

.sponsor-item img {
	width: 100%;
}

  /********/
 /*footer*/
/********/

.footer .navbar {
	background-color: #f6f6f6;
}

.navbar-footer .navbar-brand {
	color: #000;
	font-size: 0.9em;
	font-weight: 300;
	padding: 15px;
}

.footer-right li {
	background-color: transparent;
}

.footer-right li a {
	color: #000;
	text-transform: none;
	text-decoration: underline;
	font-weight: 300;
}

  /*************/
 /*EXPERT PAGE*/
/*************/

.lg-bold-text {
	font-size: 1.7em;
	font-weight: 600;
}

.exp-info {
	float: left;
}

.exp-name {
	margin-top: 0;
}

.exp-contacts {
	line-height: 1.5em;
}

.cnt-icon {
	display: inline-block;
	min-width: 20px;
	color: #43a4f4;
	text-align: center;
}

.exp-img {
	width: 30%;
	float: right;
	position: relative;
}

.exp-photo {
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.exp-img:hover .exp-photo{
	opacity: 0.4;
	transition: ease 0.5s;
}

.exp-img:hover .exp-zoom{
	opacity: 1;
	transform: translate(-50%,-50%) scale(1.2);
	transition: ease 0.2s;
}

.exp-zoom {
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	color: #43a4f4;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.exp-text {
	float: left;
	margin-top: 1em;
}

.exp-more-btn {
	float: left;
	border: none;
	background-color: transparent;
	padding: 0;
	margin-top: 1em;
}

/*media-files*/

.media-files {
	margin-top: 30px;
}

.media-title {
	margin-top: 0;
	margin-bottom: 20px;
}

.media-tabs {
	width: 100%;
}

.tab {
	width: 25%;
	min-height: 2.5em;
	line-height: 2.5em;
	float: left;
	box-sizing: border-box;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	background-color: #e9e9e9;
	text-align: center;
	color: #000;
}

.tab:first-child {
	border-left: none;
}

.tab:last-child {
	border-right: none;
}

.tab i {
	color: #43a4f4;
	display: inline-block;
	padding-right: 2px;
}

.tab:hover {
	text-decoration: none;
}

.tab:active,
.tab:focus,
.tab:active > i,
.tab:focus > i {
	background-color: #43a4f4;
	color: #fff;
	text-decoration: none;
	border-color: #43a4f4;
}

.media-files {
	position: relative;
}

.media-content {
	background-color: #fff;
	padding: 10px;
}

.media-item {
	width: 25%;
	display: inline-block;
	position: relative;
	float: left;
	padding: 10px;
}

.media-block {
	position: relative;
}

.media-img {
	width: 100%;
}

.media-blur {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(transparent, #4498e7);
}

.play-btn {
	position: absolute;
	width: 20%;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	z-index: 10;
}

.play-icon {
	width: 100%;
}

.save-btn a {
	position: absolute;
	color: #fff;
	right: 10%;
	bottom: 7%;
	z-index: 10;
}

.slick-prev,
.slick-next {
	position: absolute;
	top: 58%;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
	color: #d7d7d7;
}

.prev-ctrl {
	left: 0.5%;
}

.prev-ctrl i {
	transform: translateX(-25%);
}

.next-ctrl {
	right: 0.5%
}

.next-ctrl i {
	transform: translateX(25%);
}


  /******************/
 /*all_stories page*/
/******************/

.form-group {
	width: 80%;
	float: left;
	padding-left: 5px;
}

.date-pic {
	min-width: 10%;
	float: left;
	line-height: 37px;
}

.input-group-addon {
	color: #44a2f3;
	background-color: #fff;
	border-left: none;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.form-control {
	border-right: none;
	box-shadow: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.form-control:focus {
	box-shadow: none;
}

.form-control:focus ~ .input-group-addon {
	border: 1px solid #66afe9;
	border-left: none;
	-webkit-transition: border .15s ease-in-out;	
}

.story {
	background-color: #fff;
	margin-bottom: 15px;
	position: relative;
}

.story-img {
	float: left;
	width: 30%;
	max-height: 170px;
	overflow: hidden;
	display: flex;
}

.story-img img{
	width: 100%;
	object-fit: cover;
}

.story-descr {
	float: left;
	width: 70%;
	max-height: 170px;
	padding: 15px;
}

.story-date-icon {
	color: #44a2f3;
}

.story-name {
	margin-bottom: 10px;
}

.small-tabs {
	position: absolute;
	bottom: 10px;
}

.sm-tab {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 1px 0.5px 8px 0.5px rgba(0,0,0,0.2);
	color: #44a2f3;
	margin: 0 2.5px;
}

.sm-tab:hover {
	background-color: #44a2f3;
	color: #fff;
	transition: background-color ease-in-out .15s;
}

.sm-tab:focus {
	color: #000;
}


  /******************/
 /*open_story page*/
/******************/
	
.open-story {
	background-color: #fff;
}

.open-story-name {
	width: 60%;
}

.story-content {
	margin-top: 20px;
	margin-bottom: 30px;
}

.attaches-content {
	width: 100%;
	padding: 50px 0;
}

.attach-item {
	width: 25%;
	display: inline-block;
	position: relative;
	float: left;
	margin: 10px;
	box-shadow: 0 0 7px 0 rgba(1, 1, 1, 0.3);
}

.attach-img {
	position: relative;
}

.attach-img img {
	width: 100%;
}

.attach-blur {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(transparent, #4498e7);
}

.attach-descr {
	width: 100%;
	background-color: #fff;
	min-height: 80px;
	max-height: 80px;
	padding: 15px;
}

.attach-icon {
	position: absolute;
	color: #fff;
	bottom: 5%;
	left: 5%;
	font-size: 2em;
}

.if-empty-icon {
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 48%;
	z-index: 10;
}


.attaches-control .slick-prev,
.slick-next {
	width: 45px;
	height: 45px;
	line-height: 45px;
	top: 45%;
}

.attaches-control .next-ctrl {
	right: -4.5%
}

.attaches-control .prev-ctrl {
	left: -4.5%
}

.media {
	padding: 50px 0;
	background-color: #232323;
}

.media-title-white {
	color: white;
}

.madia-element {
	position: relative;
	width: 100%;
	height: 150px;
	background-color: #43a4f4;
	color: #fff;
	padding: 15px;
	line-height: 135px;
}

.main-icon {
	display: inline-block;
	font-size: 2.5em;
	height: 70px;
	width: 70px;
	line-height: 70px;
	text-align: center;
	border-radius: 50%;
	background-color: #fff;
	color: #43a4f4;
}

.elem-descr {
	position: absolute;
	width: 50%;
	line-height: 1;
	transform: translate(-50%,-50%);
	left: 60%;
	top: 50%;
	padding: 15px;
}

.elem-name {
	font-size: 1.8em;
	margin: 3px 0;
}

.elem-value {
	margin: 0;
}

.arr-icon {
	position: absolute;
	right: 15px;
	bottom: 10px;
	font-size: 1.5em;
	line-height: 1;
}

.dots-icon {
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 1.5em;
	line-height: 1;
}


  /*******************/
 /*story_pop-up page*/
/*******************/

.doc-tb-wrapper {
	padding: 0 15px;
}

.table-responsive {
	-webkit-box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.15);
	background-color: #fff;
}

.table {
	margin: 0;
}

.table caption {
	background-color: #43a4f4;
	color: #fff;
	padding: 10px;
}

.doc-tb-brand {
	display: inline-block;
	font-size: 1.5em;
	font-weight: 700;
}

.doc-btn-wrapper {
	float: right;
}

.doc-tb-btn {
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 5px 25px;
	margin: 0 5px;
}

.upload-btn {
	float: right;
	background-color: #43a4f4;
	margin: 15px;
}

.table-row {
	background-color: #fff;
	border-bottom: 1px solid #e4e4e4;
	padding: 0 5px;
	line-height: 40px;
}

.table-row:hover,
.table-row:focus{
	background-color: #e3f2fd;
}

.table-row:last-child {
	border-bottom: none;
}

.table thead {
	background-color: #f5f5f5;
	font-size: 0.8em;
}

.table>tbody>tr>th {
	line-height: 40px;
	vertical-align: middle;
}

.th-name {
	widows: 40%;
}

.th-type, .th-size, .th-date {
	width: 17%;
}

.th-check {
	text-align: center;
	width: 5%;
}

.th-check input {
	vertical-align: middle;
	margin: 0;
}

.th-icon {
	font-size: 1.3em;
	text-align: center;
	width: 5%;
}

.th-icon span {
	vertical-align: middle;
}

.folder-icon {
	color: #ffb300;
}

.file-icon {
	color: #1588d5;
}


  /************/
 /*stock page*/
/************/

	.keywords-block {
		background-color: #fff;
		padding: 15px;
		margin-top: 15px;
	}

	.keywords-wrapper {
		margin-top: 5px;
		text-align: justify;
		line-height: 2em;
	}
	
	.keyword {
		background-color: #e3dfdf;
		border: 1px solid #d7d7d7;
		padding: 1px 5px;
	}

	.st-title {
		font-size: 1.5em;
	}

	.st-form {
		margin: 20px 0;
	}

	.st-input {
		width: 94%;
		float: left;
		background-color: transparent;
		border: 1px solid #7f8182;
		padding: 15px;
	}

	.st-search-btn {
		width: 6%;
		display: inline-block;
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: none;
		background-color: #313131;
		color: #fff;
		padding: 16px;
	}

	.st-search-btn:focus {
		background-color: #000;
	}

	.st-tabs-wrapper {
		display: inline-block;
		width: 50%;
		-webkit-box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.15);
		box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.15);
	}

	.st-tab {
		width: 33.3333%;
		background-color: #fff;
		font-size: 1.2em;
	}

	.st-add-btn {
		display: inline-block;
		font-size: 1.2em;
		padding: 10px 25px;
		background-color: #43a4f4;
		color: #fff;
		border:none;
		border-radius: 25px;
		float: right;
	}
	
	.st-media-item {
		width: 100%;
		height: 200px;
		overflow: hidden;
		margin: 10px 0;
		padding: 0;
	}

	.st-type-icon {
		position: absolute;
		color: #fff;
		left: 5%;
		bottom: 3%;
		font-size: 1.2em;
	}

	.st-media-item .save-btn a {
		right: 5%;
		bottom: 3%;
	}

	.st-media-text {
		opacity: 0;
		position: absolute;
		color: #fff;
		bottom: 3%;
		left: 5%;
	}

	.st-media-date {
		margin-top: 5px;
	}
	
	.media-item:hover .st-media-text {
		opacity: 1;
		-webkit-transition: opacity 0.8s linear;
		-moz-transition: opacity 0.8s linear;
		-ms-transition: opacity 0.8s linear;
		-o-transition: opacity 0.8s linear;
		transition: opacity 0.8s linear;
	}

	.media-item:hover .st-type-icon{
		bottom: 35%;
		transition: bottom 0.5s;
	}

	.stock-pages {
		margin: 20px;
	}


  /****************/
 /*news_home page*/
/****************/

/*big news*/

.b-news-section {
	margin-top: 30px;
	margin-bottom: 40px;
}
.b-news {
	width: 100%;
	max-height: 360px;
	overflow: hidden;
	position: relative;
}

.news-img {
	width: 100%;
	max-height: 360px;
	object-fit: cover;
}

.b-news-image {
	object-fit: cover;
}

.b-news-blur {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: linear-gradient(transparent, #4498e7);
}

.b-news-text {
	color: #fff;
	position: absolute;
	z-index: 3;
	bottom: 6%;
	left: 5%;
	right: 5%;
}

.b-news-title {
	font-size: 1.6em;
	max-height: 62px;
	overflow: hidden;
}

.b-news-date {
	font-size: 0.8em;
	font-weight: 300;
	margin-top: 10px;
}

/*small news*/

.news-separator {
	width: 100%;
	height: 1px;
	background-color: #e3e3e3;
	margin: 15px 0;
}

.s-news-white {
	background-color: #fff;
	padding: 15px;
}

.s-news-img {
	float: left;
	width: 30%;
}

.s-news-img .news-img {
	max-height: 80px;
}

.s-news-text {
	float: left;
	width: 70%;
	padding-left: 25px;
}

.s-news-date {
	margin-top: 2px;
	font-size: 0.8em;
}

/*medium news*/

.m-news-section {
	margin-top: 30px;
	margin-bottom: 40px;
}

.m-news-img .news-img {
	max-height: 170px;
}

.m-news-text {
	padding: 15px;
	background-color: #fff;
}

.m-news-date {
	margin-top: 10px;
	font-size: 0.9em;
}

.m-news-date i {
	color: #43a4f4;
}

.news-btn {
	display: block;
	margin: 0 auto;
	font-size: 1em;
	padding: 10px 35px;
	background-color: #43a4f4;
	color: #fff;
	border: none;
	border-radius: 25px;
}

/*select section*/

.select-section {
	background-color: #44a2f3;
	padding: 30px 0;
	margin: 40px 0;
}

.select-item {
	width: 55%;
	margin: 0 auto;
}

.select-icon {
	position: relative;
	display: inline-block;
	font-size: 4em;
	color: #44a2f3;
	background-color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 0 0 7px 2px rgba(1, 1, 1, 0.3);
}

.select-icon i {
	padding: 25px;
}

.select-icon-circle {
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.circle-1 {
	border: 20px solid #65a2ed;
}

.circle-2 {
	border: 20px solid #4f94ea;
}

.circle-3 {
	border: 3px solid #498ae4;
}

.select-name {
	text-align: center;
	text-decoration: underline;
	color: #fff;
	font-size: 1.5em;
	margin-top: 8px;
}




  /***************/
 /*media queries*/
/***************/


@media only screen and (max-width : 1200px) {
	.nav-item {
		margin: 0 10px;
	}

	.navbar-right li a {
		padding: 14px 15px;
	}
	  /******************/
 	 /*open_story page*/
	/******************/
	
	.attaches-control .slick-prev,
	.slick-next {
		width: 40px;
		height: 40px;
		line-height: 40px;
		top: 45%;
	}

	.attaches-control .next-ctrl {
		right: -2.5%
	}

	.attaches-control .prev-ctrl {
		left: -2.5%
	}
}

@media only screen and (max-width : 992px) {
	.lg-text {
		font-size: 1em;
	}

	.sm-text {
		font-size: 0.8em;
	}

	.profile-image {
		width: 30%;
		height: auto;	
	}

	  /******************/
	 /*all_stories page*/
	/******************/
	

	.story-img {
		height: 145px;
	}

	.story-descr {
		max-height: 146px;
		padding: 8px;
		padding-left: 10px;
	}

	.story-name {
		margin-bottom: 3px;
	}

	.small-tabs {
		font-size: 0.75em;
		
	}

	.sm-tab {
		width: 26px;
		height: 26px;
		line-height: 26px;
	}

	  /******************/
 	 /*open_story page*/
	/******************/
	.attach-descr {
		font-size: 0.8em;
	}

	.attaches-control .slick-prev,
	.slick-next {
		width: 40px;
		height: 40px;
		line-height: 40px;
		top: 45%;
	}

	.attaches-control .next-ctrl {
		right: -2.5%
	}

	.attaches-control .prev-ctrl {
		left: -2.5%
	}

	  /*******************/
	 /*story_pop-up page*/
	/*******************/

	.doc-tb-brand {
		padding: 5px;
	}

	.doc-btn-wrapper {
		font-size: 1.3em;
	}
	.doc-tb-btn {
		padding: 5px 10px;
	}

	.upload-btn {
		padding: 5px 20px;
	}

}

@media only screen and (max-width : 768px) {
	
	.filters {
		margin-bottom: 20px;
		padding-bottom: 20px;
	}

	.add-more {
		display: table;
		width: 100%;
	}

	.select2.select2-container.select2-container--default {
		width: 95% !important;
	}

	.footer-right {
		width: 100%;
		padding: 5px;
	}

	.footer-right li {
		display: inline-block;
	}

	.footer-right li a {
		padding: 5px;
	}


	  /******************/
	 /*all_stories page*/
	/******************/

	.story-descr {
		padding: 8px;
		padding-left: 10px;
	}

	.select2.select2-container.select2-container--default {
		width: 90% !important;
	}

	.small-tabs {
		margin-top: 5px;
	}

	  /******************/
	 /*open_story page*/
	/******************/

	.open-story-name {
		width: 80%;
	}

	.attach-descr {
		display: none;
		min-height: 100px;
		max-height: 100px;
	}

	.attach-icon {
		font-size: 1.2em;
	}

	.attaches-control  {
		display: none;
	}

	.madia-element {
		line-height: 145px;
	}

	.main-icon {
		font-size: 3.5em;
		width: 100px;
		height: 100px;
		line-height: 100px;
	}

	.elem-name {
		font-size: 2.5em;
	}

	.elem-value {
		font-size: 1em;
	}


}

@media only screen and (max-width : 480px) {
	
	.content {
		padding-bottom: 25px;
	}

	.lg-text {
		font-size: 1em;
	}

	.sm-text {
		font-size: 0.8em;
	}

	.profile-description {
		padding: 10px;
	}

	.profile-description > .md-text {
		margin: 0;
	}


	  /******************/
	 /*all_stories page*/
	/******************/

	.story-img {
		min-height: 80px;
		max-height: 120px;
	}	

	.story-name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 30ch;
	}

	  /******************/
	 /*open_story page*/
	/******************/

	.open-story-name {
		width: 90%;
	}

	.attach-descr {
		padding: 10px;
	}

	.attach-icon {
		font-size: 0.8em;
	}

	.madia-element {
		line-height: 135px;
	}

	.main-icon {
		font-size: 1.7em;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}

	.elem-name {
		font-size: 1.5em;
	}

	.elem-value {
		font-size: 1em;
	}

	  /*******************/
	 /*story_pop-up page*/
	/*******************/

	.doc-tb-wrapper {
		padding: 0;
	}

}

@media only screen and (max-width : 320px) {
	  /******************/
	 /*open_story page*/
	/******************/

	.madia-element {
		padding: 5px;
		line-height: 150px;
	}
}